.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event:hover + .info_popup{
  display: block;
}

.info_popup{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 15px;
  top: 40px;
  width: 13%;
  border-radius: 5px;
}

.rbc-day-bg{
  cursor: pointer;
}

.rbc-day-bg:hover{
  background: #e5e5e5;
}

#calendar{
  height: 600px;
  width: 80%;
  padding:15px;
  float: right;
  background: #f4f4f4;
  border-radius: 5px;
}

#grid_calendar{
  height: 100%;
  width: 100%;
}

#list_calendar{
  height: 100%;
  width: 100%;
}

#calendarApp{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

#side_filters{
  width:15%;
  float: left;
  border-radius: 5px;
}

#side_filter{
  width: 100%;
  float: left;
  background: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*Actions Menu*/

#actions_menu{
  padding:0 0 15px 0;
}

#events_title{
  color: #3cabff;
}

.action_button{
  color: black;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 6px ;
  display: inline;
  background-color: white;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  background-image: none;
  text-shadow: none;
  opacity: 0.75;
  line-height: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.action_button:hover{
  opacity: 1!important;
  background: #ececec;
}

.action_button:focus{
  outline: none;
}

.selection_action_button{
  pointer-events:none;
  opacity: 0.3;
  cursor: none;
}

.action_link{
  text-decoration: none;
}

.add_a_member_button{
  background: #3cabff;
  color: white;
}

.add_a_member_button:hover{
  opacity: 1!important;
  background: #3cabff;
}

.action_filter{
  color: black;
  font-size: 12px;
  border: none!important;
  border-radius: 2px;
  display: inline;
  padding: 2px;
  background-color: white;
  margin: 5px;
  float: right!important;
  height: 40px!important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}